/* ==========================================================================
   image config

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */
.img-crisp {
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
}