

$primary-font: "Oswald-ExtraLight", Helvetica, Arial, sans-serif;
$primary-font-bold: "Oswald-Bold", Helvetica, Arial, sans-serif;

$primary-font-content: "robotolight", sans-serif;


/* Iconfonts
   ========================================================================== */
$iconfont-name: "icomoon-frontend";


/* Defaults
   ========================================================================== */
$font-family--base:         $primary-font;
$font-family--headings:     $primary-font;
$font-family--buttons:      $primary-font;
