.form-control {
  border-radius: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'robotolight', sans-serif;
  line-height: 1.3;
  text-transform: none;
  @include font-size(14px);
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'robotolight', sans-serif;
  line-height: 1.3;
  text-transform: none;
  @include font-size(14px);
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'robotolight', sans-serif;
  line-height: 1.3;
  text-transform: none;
  @include font-size(14px);
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'robotolight', sans-serif;
  line-height: 1.3;
  text-transform: none;
  @include font-size(14px);
}