/* Helpers
==========================================================================*/

@import "colors/colors";
@import "distance";



.overflow-hidden {
  overflow: hidden;
}
/* Placeholders
   ========================================================================== */
// @import "placeholders/..";


/* Mixins
   ========================================================================== */
// @import "mixins/..";
@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}