@font-face {
  font-family: 'mp_architects';
  src:
    url('fonts/mp_architects.ttf?cxa6o7') format('truetype'),
    url('fonts/mp_architects.woff?cxa6o7') format('woff'),
    url('fonts/mp_architects.svg?cxa6o7#mp_architects') format('svg');
  font-weight: normal;
  font-style: normal;
}

.imoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mp_architects' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blueprint-1:before {
  content: "\e900";
}
.icon-ruler:before {
  content: "\e901";
}
.icon-sketch:before {
  content: "\e902";
}
.icon-idea:before {
  content: "\e903";
}
.icon-3d:before {
  content: "\e904";
}
.icon-cityscape:before {
  content: "\e905";
}
.icon-evaluation:before {
  content: "\e906";
}
.icon-blueprint-2:before {
  content: "\e907";
}
.icon-set:before {
  content: "\e908";
}
.icon-arrow-down:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-pin:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-envelope:before {
  content: "\e90d";
}
.icon-pinterest:before {
  content: "\e90e";
}
.icon-linkedin:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e910";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e913";
}
.icon-arrow-left:before {
  content: "\e914";
}
.icon-arrow-right:before {
  content: "\e915";
}
