$icomoon-font-path: "fonts" !default;

$icon-blueprint-1: "\e900";
$icon-ruler: "\e901";
$icon-sketch: "\e902";
$icon-idea: "\e903";
$icon-3d: "\e904";
$icon-cityscape: "\e905";
$icon-evaluation: "\e906";
$icon-blueprint-2: "\e907";
$icon-set: "\e908";
$icon-arrow-down: "\e909";
$icon-close: "\e90a";
$icon-pin: "\e90b";
$icon-phone: "\e90c";
$icon-envelope: "\e90d";
$icon-pinterest: "\e90e";
$icon-linkedin: "\e90f";
$icon-facebook: "\e910";
$icon-instagram: "\e911";
$icon-twitter: "\e912";
$icon-menu: "\e913";
$icon-arrow-left: "\e914";
$icon-arrow-right: "\e915";

